@import "tailwindcss";

:root {
  --color-python: #346f9f;
  --color-node: #7ed6a2;
  --color-tailwind: #f060ae;
  --color-flask: #3b808b;
  --color-sql: #df6c20;
  --color-react: #86d9ca;
}

@theme {
  --color-dark-secondary: #1a1d1e;
  --color-dark-primary: #151718;
  --color-light-blue: #308add;
  --color-lighter-blue: #90cdf4;
  --color-dark-text: rgb(236, 237, 238);
  --color-light-text: #11181c;
  --color-dark-border: rgb(43, 47, 49);
  --color-light-border: #e6e8eb;
  --color-darker-blue: #3182ce;
  --color-light-primary: #f8f9fa;
  --color-offwhite: rgb(236, 237, 238);
  --color-gray-border: #dfe3e6;
  --color-gray-text: #687076;
  --color-dark-green: #17624a;
  --color-light-green: #7ed6a2;
  --color-lighter-green: #c6f6d5;
  --color-text-green: rgb(34, 84, 61);
  --color-pinkish-red: #fed7d7;
  --color-red-text: rgb(130, 39, 39);
  --color-translucent-green: rgb(154, 230, 180);
  --color-dark-green-bg: rgba(154, 230, 180, 0.16);
  --color-dark-red-text: rgb(254, 178, 178);
  --color-yellow: #ffe066;
  --color-dark-red-bg: rgba(254, 178, 178, 0.16);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
